{% extends 'ricette/base.html' %}
{% load static %}

{% block title %}Home - Ricette Apparecchiate{% endblock %}


{% block content %}
    <div class="container">
        <h2 class="text-center mb-5">Statistiche Veloci</h2>
        <div class="statistiche-container">
            <div class="stat-card">
                <h3>Ricette Totali</h3>
                <p class="stat-number">{{ numero_ricette }}</p>
            </div>
            <div class="stat-card">
                <h3>Ricettari Totali</h3>
                <p class="stat-number">{{ numero_libri }}</p>
            </div>
            <div class="stat-card">
                <h3>Ingredienti Usati</h3>
                <p class="stat-number">{{ numero_ingredienti }}</p>
            </div>
        </div>
    </div>
{% endblock %}