{% extends 'ricette/base.html' %}
{% load static %}

{% block title %}Home - Ricette Apparecchiate{% endblock %}

{% block content %}
<div class="container">

    <div class="ricette-apprezzate">
        <h2 class="text-center mb-4">Le Ricette più Apprezzate</h2>
        <div class="ricette-container">
            
            <div class="ricetta-card">
                <img src="{% static 'ricette/images/lasagna.webp' %}" alt="Lasagne alla Bolognese">
                <p>Lasagne alla Bolognese</p>
            </div>
            
            <div class="ricetta-card">
                <img src="{% static 'ricette/images/tiramisu1.jpg' %}" alt="Tiramisù">
                <p>Tiramisù</p>
            </div>
            
            <div class="ricetta-card">
                <img src="{% static 'ricette/images/carbonara.jpg' %}" alt="Spaghetti alla Carbonara">
                <p>Spaghetti alla Carbonara</p>
            </div>

        </div>
    </div>
    <div class="statistiche">
        <h2 class="text-center mb-5">Statistiche Veloci</h2>
        <div class="statistiche-container">
            <div class="stat-card">
                <h3>Ricettari Totali</h3>
                <p class="stat-number">{{ numero_libri }}</p>
            </div>
            <div class="stat-card">
                <h3>Ricette Totali</h3>
                <p class="stat-number">{{ numero_ricette }}</p>
            </div>
            <div class="stat-card">
                <h3>Ingredienti Unici</h3>
                <p class="stat-number">{{ numero_ingredienti }}</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}